<div class="dates-container">
  <div class="dates">
    @for (record of records(); track record.date) {
    <div
      class="date"
      [class.happy]="record.mood === 'Happy'"
      [class.sad]="record.mood === 'Sad'"
      [class.current]="record.date.getTime() === currentDate().getTime()"
      [class.disabled]="record.date > today"
      (click)="record.date <= today ? selectDay(record.date) : null"
    >
      <div class="number">{{ record.date.getDate() }}</div>
      <div class="month">
        {{ record.date.toLocaleString("default", { month: "short" }) }}
      </div>
    </div>
    }
  </div>
</div>
<div class="date-actions">
  <button (click)="previousDay()">
    <span>&#10132;</span>
  </button>
  <div class="date-heading">
    <span (click)="showDatePicker()">{{ currentDateHeading() }}</span>
    <input
      type="date"
      class="date-selector"
      [max]="currentDateSelectorMaxValue"
      [value]="currentDateSelectorValue()"
      (input)="selectDayFromInput()"
      required
      #dateSelector
    />
  </div>
  <button
    (click)="nextDay()"
    [disabled]="currentDate().getTime() === today.getTime()"
  >
    <span>&#10132;</span>
  </button>
</div>
