<div class="moods-container">
  <div class="moods">
    @for (record of moods(); track $index) {
    <div
      class="mood"
      [class.happy]="record.mood === 'Happy'"
      [class.sad]="record.mood === 'Sad'"
      [class.disabled]="record.date > today"
    ></div>
    }
  </div>
</div>
<div class="year">
  <button (click)="previousYear()">
    <span>&#10132;</span>
  </button>
  <span class="year-heading">{{ currentYear() }}</span>
  <button
    (click)="nextYear()"
    [disabled]="currentYear() === today.getFullYear()"
  >
    <span>&#10132;</span>
  </button>
</div>
