:host {
  view-transition-name: calendar-page;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.moods-container {
  flex: 1;
  padding: 2rem;
}

.moods {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  min-height: min-content;
  overflow-y: auto;
}

.mood {
  height: 2.5rem;
  width: 2.5rem;
  background-color: lightgrey;
  cursor: pointer;

  &.happy {
    background-color: rgba(50, 200, 50, 0.75);
  }

  &.sad {
    background-color: rgba(200, 50, 50, 0.75);
  }

  &.disabled {
    cursor: auto;
    opacity: 0.15;
  }
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;

  button {
    border: 2px solid black;
    background: transparent;
    font-weight: bolder;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: 0.3s;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    &:first-child {
      transform: rotate(180deg);
    }

    &::after {
      content: "➔";
      color: white;
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    &:disabled {
      cursor: auto;
      border-color: lightgrey;
    }

    &:not(:disabled):hover {
      background-color: black;

      span {
        left: 150%;
      }

      &::after {
        left: 50%;
      }
    }
  }

  .year-heading {
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    position: relative;
  }
}
